html {
    font-size: 10px;
    font-family: "Markazi Text", sans-serif;
    background-color: dimgray;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: darkgray;
    padding: 0 20px 20px 20px;
    border: 5px double black
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    float: left;
}

.nav-bar a {
    display: block;
    padding: 8px 8px;
}
